<div class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    <%= render partial: 'shared/profile_image', locals: {dimension: 20}%>  
  </a> 
  <div class="dropdown-menu border-0 rounded-0 m-0">    
    <%= link_to "Profile" , edit_profile_path(Current.user.profile), 
        class: "dropdown-item" %>
    <%= link_to "Admin" , '/avo', class: "dropdown-item" if admin?%>
    <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } , 
        class: "dropdown-item"%>                           
  </div>
</div>

