<div id="items">
  <%= render partial: "carts/show", locals: {line_items: @line_items} %>
</div>

<div class="checkout_btn_inner">
  <a class="gray_btn" href="#">Continue Shopping</a>
  <a class="main_btn" href="#">Proceed to checkout</a>
</div>
